<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>百宝箱</title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="template/mui/css/mui.min.css">
    <link rel="stylesheet" href="template/css/index.css?v=20180522104725">
</head>
<body>
<div class="mui-content">
    <div class="info-card">
        <div id="goods-warp">
            <img src="<?php echo $goodsInfo->goodsImage; ?>" alt="<?php echo $goodsInfo->goodsName; ?>" id="goods-img">
            <h3 id="goods-name"><?php echo $goodsInfo->goodsName; ?></h3>
            <p id="goods-intro"><?php echo $goodsInfo->goodsNote; ?></p>
        </div>
    </div>
    <div class="info-card">
        <div class="nav-title">
            <span>详细地址</span>
        </div>
        <div class="card-detail">
            <h4>
                <span><?php echo $orderInfo->receiver; ?></span>
                <span><?php echo $orderInfo->phone; ?></span>
            </h4>
            <p><?php echo $orderInfo->province.$orderInfo->city.$orderInfo->area; ?><br><?php echo $orderInfo->address;
                ?></p>
        </div>
    </div>
    <?php if($orderInfo->logisticsNumber){ ?>
    <div class="info-card">
        <div class="nav-title">
            <span>物流信息</span>
        </div>
        <div class="card-detail">
            <h4><?php echo $orderInfo->logisticsName. ''. $orderInfo->logisticsNumber; ?></h4>
        </div>
    </div>
    <?php } ?>
</div>
<script src="template/mui/js/mui.min.js"></script>
</body>
</html>