<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>百宝箱</title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="template/mui/css/mui.min.css">
    <link rel="stylesheet" href="template/css/index.css?v=20180522104725">
</head>
<body>
<div class="mui-content">
    <div class="info-card">
        <div id="goods-warp">
            <img src="<?php echo $goodsInfo->goodsImage; ?>" alt="<?php echo $goodsInfo->goodsName; ?>" id="goods-img">
            <h3 id="goods-name"><?php echo $goodsInfo->goodsName; ?></h3>
            <p id="goods-intro"><?php echo $goodsInfo->goodsNote; ?></p>
        </div>
    </div>
    <div class="info-card">
        <div class="nav-title">
            <span>详细地址</span>
        </div>
        <div class="card-detail">
            <h4>
                <span><?php echo $orderInfo->receiver; ?></span>
                <span><?php echo $orderInfo->phone; ?></span>
            </h4>
            <p><?php echo $orderInfo->province.$orderInfo->city.$orderInfo->area; ?><br><?php echo $orderInfo->address;
                ?></p>
        </div>
    </div>
    <?php if($orderInfo->logisticsNumber){ ?>
    <div class="info-card">
        <div class="nav-title">
            <span>物流信息</span>
        </div>
        <div class="card-detail">
            <h4><?php echo $orderInfo->logisticsName. ''. $orderInfo->logisticsNumber; ?></h4>
        </div>
    </div>
    <?php } ?>
</div>
<script src="template/mui/js/mui.min.js"></script>
<script src="template/mui/js/mui.picker.all.js"></script>
<script src="template/mui/js/city.data-3.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
    var app = new Vue({
        el: '.mui-content',
        data: {
            goods: {
                img: 'http://img11.360buyimg.com/n7/s230x230_jfs/t17230/109/917256995/138054/d76864e3/5ab20c37Nb64a7234.jpg!cc_230x230.jpg',
                name: '乐事（Lay’s）薯片 ',
                intro: '乐事（Lay’s）薯片 零食 休闲食品 美国经典原味 70g 百事食品 口口香脆 根本停不下来',
            },
            addressInfo: {
                username: '张晓坑',
                mobile: '13888888888',
                areaInfo: '浙江省杭州市滨江区',
                detailAddress: '建业路511华创大厦1408',
            },
            deliveryInfo: '圆通快递 123123123123123123'
        },
        mounted: function () {
            mui.init();
        }
    });
</script>
</body>
</html>