<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>百宝箱</title>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="mui/css/mui.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

</body>
</html>